;; User data
[{:db/id #db/id [:db.part/db 100]
  :user/login "buggy"
  :user/first-name "Bugs"
  :user/last-name "Bunny"
  :user/email "bugbun@gmail.com"}
 {:db/id #db/id[:db.part/db 101]
  :user/login "duffy"
  :user/first-name "Daffy"
  :user/last-name "Duck"
  :user/email "dadu@gmail.com"}
 {:db/id #db/id[:db.part/db 102]
  :user/login "porky"
  :user/first-name "Porky"
  :user/last-name "Pig"
  :user/email "popi@gmail.com"}
 {:db/id #db/id[:db.part/db 103]
  :user/login "betty"
  :user/first-name "Betty"
  :user/last-name "Boop"
  :user/email "bebo@gmail.com"}
 {:db/id #db/id[:db.part/db 104]
  :user/login "yosey"
  :user/first-name "Yosemite"
  :user/last-name "Sam"
  :user/email "yosa@gmail.com"}
 {:db/id #db/id[:db.part/db 105]
  :user/login "elfu"
  :user/first-name "Elmer"
  :user/last-name "Fudd"
  :user/email "elfu@gmail.com"}
 {:db/id #db/id[:db.part/db 106]
  :user/login "jerry"
  :user/first-name "Jerry"
  :user/last-name "Mouse"
  :user/email "jemo@gmail.com"}
 {:db/id #db/id[:db.part/db 107]
  :user/login "wilma"
  :user/first-name "Wilma"
  :user/last-name "Flintstone"
  :user/email "wifl@gmail.com"} ]

