[;; Basic entities
 ;; create partions task and accoubt
 {:db/id "accounts"
  :db/ident :accounts}
 [:db/add :db.part/db :db.install/partition "accounts"]
  
 {:db/id "task"
  :db/ident :task}
 [:db/add :db.part/db :db.install/partition "task"]


 ;; Task enums
 {:db/ident :task/taskStatus
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/doc "The status of a t ask: todo, in-progress or done"}
 {:db/ident :taskStatus/todo}
 {:db/ident :taskStatus/in-progress}
 {:db/ident :taskStatus/done} 


 ;; Account enums
 {:db/ident :account/accountType
  :db/valueType :db.type/ref 
  :db/cardinality :db.cardinality/one
  :db/doc "The type of account: Free, paid, charge, payment and adjustment"} 
 {:db/ident :accountType/paid}
 {:db/ident :accountType/charge}

 ;; Transaction enums
 {:db/ident :account/transactionType
  :db/valueType :db.type/ref 
  :db/cardinality :db.cardinality/one
  :db/doc "The type of accounttransaction: charge, payment and adjustment"}
 {:db/ident :transactionType/charge}
 {:db/ident :transactioType/payment}
 {:db/ident :transactionType/adjustment}

 
 ;; Task schema
 {:db/ident :task/description
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/string
  :db/doc "description of the task"} 

 {:db/ident :task/status
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/ref
  :db/doc "task status - an enum"} 

 {:db/ident :task/issue-id
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/string
  :db/doc "task's issue ID, for external reference"
  :db/unique :db.unique/identity} 

 {:db/ident :task/tag
  :db/cardinality :db.cardinality/many
  :db/valueType :db.type/ref
  :db/doc "task tags"}

 {:db/ident :tag/name
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/string
  :db/doc "tag's name, used as identity"
  :db/unique :db.unique/identity}

 {:db/ident :task/parent
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/ref
  :db/doc "parent of the task, establishing arbitrary hierarchy"}

 {:db/ident :task/user
  :db/cardinality :db.cardinality/many
  :db/valueType :db.type/ref
  :db/doc "The user or users to which the task belongs"}


 ;; User schema
 {:db/ident :user/login
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "user's login name and display name"
  :db/unique :db.unique/identity}

 {:db/ident :user/first-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Users first name"}

 {:db/ident :user/last-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Users last name"} 

 {:db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "crypted pasword"}

 {:db/ident :user/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "User's email address"
  :db/unique :db.unique/value}

 {:db/ident :user/friend
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Friend reference"}

 {:db/ident :user/account
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true
  :db/doc "The account linked to the user"} 

 ;; Account schema
 {:db/ident :account/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "account type (eg paid, free), an enum"}

 {:db/ident :account/label
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Display label for describing account"}

 {:db/ident :account/current-balance
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "current balance of the account"
  :db/index true
  :db/noHistory true}

 {:db/ident :account/transaction
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "transactions (payments and charges) against the account"} 

 ;; Transaction schema
 {:db/ident :transaction/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "transaction type (eg charge, payment, adjustment) - an enum"}

 {:db/ident :transaction/amount
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "amount of the transaction"}]

